body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff9c4;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

p {
    color: #ffb300;
    font-size: 2rem;
}
