body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f8e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    color: #558b2f;
    font-size: 2.5rem;
}

input {
    padding: 12px 20px;
    font-size: 16px;
    width: 20%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #558b2f;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #558b2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #33691e;
}

.resultado {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.resultado h2 {
    color: #558b2f;
    margin-bottom: 15px;
}

.resultado ul {
    list-style-type: none;
    padding: 0;
}

.resultado li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.resultado strong {
    font-weight: bold;
}

a {
    color: #558b2f;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
}
