<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Email</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/email.css') }}"> 
</head>
<body>
    <h1>Verificador de Email</h1>
    <form action="/email" method="POST">
        <input type="email" name="email" placeholder="           Email" required>
        <br>
        <button type="submit">Verificar</button>
    </form>

    {% if dados %}
    <div class="resultado">
        <h2>Resultado da Verificação</h2>
        {% if dados['success'] == False %}
            <p><strong>Nada foi vazado para esse e-mail  😁.</strong></p>
        {% else %}
            <p><strong>Sites vazados: </strong>{{ dados['found'] }}</p>
            <ul>
                {% for item in dados['sources'] %}
                    <li>
                        <strong>Site:</strong> {{ item['name'] }} <br>
                        <strong>Data do vazamento:</strong> {{ item['date'] if item['date'] else 'Desconhecida' }} <br>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}

    <br>
    <a href="/">Voltar</a>  
</body>
</html>
