<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Email</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/email.css') }}"> 
</head>
<body>
    <h1>Verificador de Email</h1>
    <form action="/email" method="POST">
        <input type="email" name="email" placeholder="  Email" required>
        <br>
        <button type="submit">Verificar</button>
    </form>

    {% if dados %}
        <div class="resultado">
            <h2>Resultado da Verificação</h2>
            <p><strong>Sites vazados: </strong>{{ dados['found'] }}</p>
            <ul>
                {% for item in dados['result'] %}
                    <li>
                        <strong>Site:</strong> {{ item['source']['name'] }} <br>
                        <strong>Data do vazamento:</strong> {{ item['source']['breach_date'] if item['source']['breach_date'] else 'Desconhecida' }} <br>
                        <strong>Senha vazada:</strong> {{ item['password'] if 'password' in item else 'Não disponível' }} <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <br>
    <a href="/">Voltar</a>  
</body>
</html>
